<div class="max-w-lg m-auto">
    <h2>TODO: form setting tournament</h2>
    <ul>
        <li>Players number</li>
        <li>Game duration</li>
    </ul>
    <a href="/game/play/aRandomGameId" class="btn btn-border">
        Play
    </a>
</div>