<div class="flex min-h-full flex-col justify-center p-6 lg:px-8">

    <div class="flex flex-col gap-10 mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

        <div>
            <div class="py-6 flex items-center">

                <h3 class="font-semibold text-xl text-gray-900 ">
                    Welcome {{ @root.user }}
                </h3>
                <div class="flex-grow"></div>
                <a href="/stats" class="btn btn-border" title="Ratio">
                    <i data-lucide="star" class="h-4 w-4 mr-1"></i>
                    <span>0.65</span>
                    <span class="badge badge-dark translate-x-2">6 / 9</span>
                </a>
            </div>

            <div class="grid grid-cols-2 gap-2">
                <a href="/local/new" class="btn btn-primary">
                    <i data-lucide="swords" class="h-5 w-5 mr-1"></i>
                    Local game
                </a>
                <a href="/game/new" class="btn btn-primary">
                    <i data-lucide="trophy" class="h-5 w-5 mr-1"></i>
                    New tournament
                </a>
            </div>
        </div>

        <div class="flex flex-col gap-3">
            <h3 class="text-sm/6 font-semibold text-gray-900">
                My friends
            </h3>

            <div class="flex pl-4 p-2 items-center gap-2 border border-gray-200 rounded-xl">
                <span>Bob</span>
                <span class="badge badge-green">Online</span>
                <div class="flex-grow"></div>
                <a href="/game/play/aRandomGameId" class=" btn btn-border">Join</a>
            </div>

            <div class="flex pl-4 p-2 items-center gap-2 border bg-gray-5 border-gray-200 rounded-xl">
                <span>Clélie</span>
                <span class="badge badge-dark">Offline</span>
                <div class="flex-grow"></div>
            </div>
        </div>

        <div class="flex flex-col gap-3">
            <h3 class="text-sm/6 font-semibold text-gray-900">
                Invitations
            </h3>

            <div class="flex pl-4 p-2 items-center gap-2 border border-gray-200 rounded-xl">
                <div class="flex flex-col">
                    <span>Jonas</span>
                    <span class="text-xs text-gray-900 leading-3">Sended at 18:12</span>
                </div>
                <div class="flex-grow"></div>
            </div>

            <div class="flex pl-4 p-2 items-center gap-2 border border-gray-200 rounded-xl">
                <div class="flex flex-col">
                    <span>Léonard</span>
                    <span class="text-xs text-gray-900 leading-3">Recieved at 19:32</span>
                </div>
                <div class="flex-grow"></div>
                <!-- TODO: need to form method="post" -->
                <a href="/invitations/reject" class="btn btn-red">Reject</a>
                <a href="/invitations/accept" class="btn btn-green">Accept</a>
            </div>
        </div>

        <div class="flex flex-col gap-3">

            <form class="flex items-center w-full">
                <div class="relative w-full">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <i data-lucide="user search" class="h-5 w-5 text-gray-500" aria-hidden="true"></i>
                    </div>
                    <input type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 "
                        placeholder="Looking for new friends" required />
                </div>

            </form>

            <div class="flex pl-4 p-2 items-center gap-2 border border-gray-200 rounded-xl">
                <span>Jean</span>
                <div class="flex-grow"></div>
                <!-- TODO: need to form method="post" -->
                <a href="/invitations/new" class="btn btn-border">Invite</a>
            </div>

            <div class="flex pl-4 p-2 items-center gap-2 border border-gray-200 rounded-xl">
                <span>Claude</span>
                <div class="flex-grow"></div>
                <!-- TODO: need to form method="post" -->
                <a href="/invitations/new" class="btn btn-border">Invite</a>
            </div>
        </div>

    </div>

</div>