<div class="max-w-lg m-auto">
    <h2>TODO form</h2>
    <ul>
        <li>set Player 1 name</li>
        <li>set Player 2 name</li>
    </ul>
    <a href="/local/play?playerA=Bob&playerB=Alice" class="btn btn-border">
        Play
    </a>
</div>