@import "tailwindcss";

.btn {
	@apply flex items-center bg-white gap-1 justify-center rounded-md px-3 py-1.5 text-sm/6 font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2;
}

.btn-border {
	@apply text-indigo-600 border hover:ring-1 ring-indigo-600;
}

.btn-primary {
	@apply bg-indigo-600 text-white hover:bg-indigo-500 focus-visible:outline-indigo-600;
}
.btn-green {
	@apply bg-green-100 text-green-800 hover:bg-green-900 focus-visible:outline-green-600;
}
.btn-red {
	@apply bg-red-600 text-white hover:bg-red-500 focus-visible:outline-red-600;
}

.badge {
	@apply text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm;
}

.badge-dark {
	@apply bg-gray-100 text-gray-800;
}
.badge-green {
	@apply bg-green-100 text-green-800;
}
.badge-red {
	@apply bg-red-100 text-red-800;
}

.input {
	@apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6;
}

.label {
	@apply block text-sm/6 font-medium text-gray-900;
}

.input-error {
	@apply text-sm text-red-700 transition-opacity;
}

@theme {
	--animate-shakeX: shakeX 0.6s ease-in-out;

	@keyframes shakeX {
		from,
		to {
			transform: translate3d(0, 0, 0);
		}
		10%,
		50%,
		90% {
			transform: translate3d(-6px, 0, 0);
		}

		30%,
		70% {
			transform: translate3d(6px, 0, 0);
		}
	}
}
